@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');





*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 18px;
 

}
.header-container{
    background-image: url(./images/bg-header-desktop.png);
    background-size: cover;
   
    align-items: center;
    
   
}
.logo{
   height: 100px;
   width: 100px;
  
}
.haeding1{
    
}
.btn1{
    height: 40px;
    width: 250px;
    background-color: aqua;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    
}
.btn2{
    height: 40px;
    width: 250px;
    background-color: rgb(62, 72, 245);
    border-radius: 20px;
    font-size: 15px;
    border: none;
    
   
}
.pera1{
    margin-top:100px ;
}
.desktop2{
    margin-left: 150px;
    margin-top: 50px;
}


.create-backlist-contaner-details{
    margin-top: 50px;
}
.image1{
    height:400px ;
    width: 500px;
    margin-left: 50px;
}
.image2{
    height:400px ;
    width: 500px;
}



.logo-container{
    margin-top: 100px;
    text-align: center;
}
.logo-icons{
    margin-top: 50px;
}

.footer-icons{
    margin-left: 10px;
}
.head-container{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 200;
    font-style: normal;
}
p{
    color: darkslateblue;
}
h5{
   color:mediumslateblue
  
}

.last-container{
    text-align: center;
    margin-top: 7%;
}

.last-container-buttons{
    text-align: center;
}

.footer-styles-small-devices{
    background-color: rgb(237, 243, 247);
    padding: 20px;
    text-align: center;
    margin-top: 7%;
}
.footer-contact{
    margin-top: 20px;
}
.footer-c-icon-small-devices{
    height: 40px;
    width: 40px;
}

.hyper-links{
    text-decoration: none;
}
@media only screen and (min-width: 600px) {
    .second-container{
        display: flex;
    }

    .create-backlist-contaner{
        display: flex;
        justify-content: space-around;
    }
    .third-container{
        display: flex;
        justify-content: space-evenly;
    }

    .fourth-container{
        display: flex;
        justify-content: space-evenly;
    }

    .last-container{
        text-align: center;
        margin-top: 7%;
    }

    .last-container-buttons{
        display: flex;
        justify-content: center;
    }
    .footer-container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 7%;
    }
    .footer-c-icon{
        margin-top: 20px;
        height: 40px;
        width: 40px;
    }
    .hyper-links{
        text-decoration: none;
    }
    .footer-icons{
        margin-top: 15px;
    }
}